/* ASIDE */
.aside {
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title_aside {
    margin: 0 0 10px;
}

.recommendations {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.recommendation__item-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;

    padding: 10px;
    margin-bottom: 10px;

    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #264653;
}

.recommendation__item-picture {
    object-fit: cover;
    object-position: top;

    width: 50px;
    height: 50px;
}

.aside-art {
    color: #EFB366;
}

@media screen and (max-width: 1024px) {
    .aside {
        width: 100%;
    }

    .aside-art {
        display: none;
    }
}