@font-face {
    font-family: 'iosevka';
    src: url("fonts/Iosevka-Regular.ttc") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iosevka';
    src: url("fonts/Iosevka-Regular.ttc") format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E9C46A;
    font-family: 'iosevka', serif;
}
