/* Parameters */
.parameters-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.parameter-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.parameter {
    display: flex;
    padding: 10px;
    width: 25%;
    min-width: 200px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.parameter-description {
    font-weight: bold;
}

.parameter__name {
    font-weight: bold;
}

.parameter__value {
    display: flex;
    gap: 5px;
    height: 20px;
}

.parameter__value-input {
    width: 25px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.02);
    border: none;
    text-align: center;
    font-family: inherit;
}

.parameter__button {
    border: none;
    padding: 3px;
    margin: 0;

    min-height: 20px;
    max-height: 20px;
    height: 100%;
    aspect-ratio: 1/1;

    font-weight: bold;

    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 5px;

    overflow: hidden;
    cursor: pointer;
}

.parameter__button_low {
    background-color: #8AB17D;
}

.parameter__button_mid {
    background-color: #E9C46A;
}

.parameter__button_high {
    background-color: #F4A261;
}

.parameter__button_extreme {
    background-color: #E76F51;
}

.parameter__button-img {
    object-fit: cover;

    margin: 0;
    padding: 0;
    height: 100%;
}

/* Form */
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 80%;
}

.form__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.form__input {
    width: 85%;
    height: 100%;
    padding: 0 0 0 40px;
    border: none;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;

    font-size: 24px;
    font-weight: bold;
    font-family: inherit;
    color: inherit;

}

.form__input-hints {
    position: absolute;
    top: 100%;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 85%;
    min-height: 30px;
    background-color: whitesmoke;
    list-style: none;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.form__input-hints-item {
    padding: 5px 0 5px 20px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.form__input-hints-item_last {
    border-bottom: none;
}

.form__input-hints_active {
    display: block;
}

.form__submit {
    width: 15%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;

    background-color: #287271;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

/* Menu */

.menu {
    width: 80%;
    list-style: none;
    padding: 10px;
}

.menu_empty {
    display: none;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5px 0;
    gap: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.menu-item_last {
    border-bottom: none;
}

.menu-item__name {
    display: flex;
    justify-content: left;
    gap: 10px;
    align-items: center;

    width: 200px;
    margin-left: 20px;
}

.menu-item__delete {
    cursor: pointer;
    border: none;


    width: 60px;
    height: 60px;
    padding: 0;
    margin-right: 20px;
    border-radius: 30px;

    background-color: inherit;
}

.menu-item__delete-img {
    object-fit: cover;
    filter: invert(23%) sepia(13%) saturate(1700%) hue-rotate(152deg) brightness(92%) contrast(89%);

    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-item__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;

    font-weight: bold;
}

.menu-item__options-checkbox {

}

.menu-item__options-input {

}



/*To remove arrows in input*/
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}