.catalog-list_cocktails {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.content_cocktail-item {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 5px;
    width: auto;
    height: 300px;

    text-decoration: none;
    transition: color 0.3s ease;
    color: #264653;
}

.content__photo_cocktail {
    padding: 5px;
    max-width: 200px;
    min-width: 150px;
}

.content_cocktail-item:hover {
    color: #2A9D8F;
}