.header {
    background-color: #264653;

    box-sizing: border-box;
    padding: 10px 20px 10px;
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
}

.logo {
    width: 128px;
    min-width: 96px;
    height: auto;
}

.logo__img {
    width: 100%;
}

.nav {
    align-items: center;
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    gap: 25px;
}

.nav__link {
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    transition: color 0.3s ease;
    word-spacing: -5px;
    white-space: nowrap;
}

.nav__divider {
    border-right: 1px solid whitesmoke;
    width: 0;
    height: 100%
}

.nav__link:hover {
    color: #2A9D8F;
}

.search {
    height: 30px;
    width: auto;

    display: flex;
    gap: 10px;
}

.search__input {
    padding: 5px 10px;

    border: 1px solid whitesmoke;
    border-radius: 5px;

    font-size: 16px;
}

.search__button {
    padding: 5px 10px;

    background-color: #2A9D8F;
    color: whitesmoke;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .search {
        display: none;
    }

    .logo {
        display: none;
    }

    .header {
        justify-content: center;
    }
}