/* MAIN */
.main {
    padding: 10px 20px 10px;
    margin: 70px auto 0;
    width: 85%;

    background-color: #E9C46A;
    color: #264653;
}

.main__line {
    display: flex;
    column-gap: 10px;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
}


/* CONTENT-BLOCK */
.content {
    padding: 20px;
    width: 100%;

    background-color: #fff;
}

.content__line {
    display: flex;
    justify-content: center;
    gap: 1%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.content__h-divider {
    width: 100%;
    border-bottom: 3px solid;
}

.content_bordered {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.content_recipe BEM? {*
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*    padding: 0 20px 0;*/

/*    background-color: #fefae0;*/
/*}*/


/* RECIPE */
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 20px 0;
    width: 100%;
}

.recipe_bordered {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    background-color: #fefae0;
}

.title_recipe {
    margin: 5px 0 15px;
    width: 100%;
}

.recipe__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe__ingredients-part{
    width: 50%;
}

.recipe__ingredients-divider {
    height: 100%;
    width: 0;

    border-right: 1px solid #264653;
}

.recipe__ingredients-list {
    margin: 0;

    list-style: circle;
}

.recipe__ingredients-item {
    padding-bottom: 5px;
}


/* INFO */
.facts {
    width: auto;
}


/* TITLE */
.title {
    margin: 15px 0 15px;
    font-size: 28px;
}

.title_large {
    font-size: 30px;
}

.title_medium {
    font-size: 24px;
}

.title_small {
    font-size: 18px;
}


/* PHOTO */
.photo {
    display: flex;
    align-items: center;

    padding: 5px;
    max-width: 200px;
    min-width: 150px;
    height: auto;

    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    background-color: #fefae0;
}

.photo__img {
    width: auto;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
}


@media screen and (max-width: 1024px) {
    .main__line {
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
    }

    .photo__img {
        object-fit: cover;
        object-position: center;
    }
}



