.content {
    display: flex;
}

.content__photo-box {
    display: flex;
    justify-content: center;

    height: auto;
    overflow: hidden;
}

.content__photo-img {
    width: auto;
    height: 100%;

    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

.content__photo-img_cut {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: top;
}

.content_bordered {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.content_accent {
    background-color: #FEFEFA;
}