.header {
    background-color: #264653;

    box-sizing: border-box;
    padding: 10px 20px 10px;
    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;

    will-change: transform;
    transition: transform 400ms linear;

    z-index: 1000;
}

.header--unpinned {
    transform: translateY(-100%);
}

.header--pinned {
    transform: translateY(0%);
}

/*LOGO*/
.logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    top: auto;

    width: 128px;
    min-width: 96px;
    height: auto;
}

.logo__img {
    width: 100%;
}


/*NAVIGATION*/
.nav {
    display: flex;
    align-items: center;

    margin: 0 auto;

    height: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    margin: 0;
    height: 80%;

    list-style: none;
}

.nav__list-item {
    display: flex;
    align-items: center;

    height: 100%;

    color: whitesmoke;
}

.nav__list-item_active {
    font-weight: bold;
    border-bottom: 3px solid #2A9D8F;
    padding-bottom: 3px;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    word-spacing: -5px;
    white-space: nowrap;

    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav__link:hover {
    color: #2A9D8F;
    font-size: 20px;
}

.nav__divider {
    border-right: 1px solid whitesmoke;
    width: 0;
    height: 100%;
}

/*SEARCH*/
.search {
    display: flex;
    align-items: center;

    height: 100%;
    width: auto;
}

.search__button {
    display: flex;
    justify-content: flex-start;

    border: none;
    padding: 0;
    margin: 0;
    height: 80%;
    aspect-ratio: 1.5/1;

    background-color: #264653;

    overflow: hidden;
    cursor: pointer;
}

.search__button-img {
    object-fit: cover;

    margin: 0;
    padding: 0;
    height: 100%;
}

.search__input {
    position: absolute;

    padding: 5px 10px;
    margin-left: 40px;
    width: 0;
    opacity: 0;

    border-radius: 10px;
    border: 1px solid #264653;

    background-color: whitesmoke;
    color: #264653;
    font-size: 16px;

    transition: width 0.3s ease, opacity 0.3s ease;
}

.search:hover .search__input {
    width: 150px;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .search {
        display: none;
    }

    .logo {
        display: none;
    }

    .header {
        justify-content: center;
    }
}